@import '../../c0-Common/saas/variables.module';

.project {
   //display: flex;
   //justify-content: space-between;
   //align-items: center;
   //flex-wrap: wrap;

   &_content {
      width: 300px;
      margin: 50px 10px 0 10px;

      &_wrapp {
         position: relative;
         max-width: 300px;
         min-height: 200px;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         box-shadow: 0 2px 5px #7b7f82;
      }

      &_img {
         width: 100%;
         height: 100%;
         display: block;
         margin: 0 auto;
         transition: all 0.4s;
      }

      h4 {
         padding: 10px 0;
         text-align: left;
         font-size: 18px;
      }

      p {
         white-space: pre-line;
         text-align: left;
      }
   }

   &_descrBlock {
      position: relative;
      z-index: 100;
   }

   &_btn {
      display: none;
      border: none;
      border-radius: 2px;
      background-color: #ffffff;
      padding: 8px;
      text-decoration: none;
      line-height: 1;
      color: $rootColor;
      position: absolute;

      transform: translate(50%, 0);
      cursor: pointer;
      z-index: 9;

      &:nth-child(n) {
         top: 20%;
         right: 50%;
      }

      &:nth-child(2n) {
         top: 65%;
         right: 50%;
      }
   }
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
}

.showBtn {
   display: block;
}

@media (max-width: 380px) {
   .project_content {
      margin: 20px 0;
      padding: 0 10px;
   }
}