@import '../saas/variables.module';


.titleWrap {


   &_foreg {
      color: $rootColor;
      font-size: 56px;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
      text-align: center;
   }

   &_back {
      font-size: 75px;
      letter-spacing: 10px;
      line-height: 0.7;
      position: absolute;
      right: 0;
      left: 0;
      top: 1%;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      color: rgba(30, 37, 48, 0.05);
   }
}

@media (max-width: 450px) {
   .titleWrap {
      padding-top: 45px;
      &_foreg {
         font-size: 40px;
         font-weight: 900;
      }
      &_back {
         display: none;
      }
   }
}