@import '../saas/variables.module';


.myBtn{
   background-color: $rootColor;
   color: #fff;
   margin: 10px 10px 10px 0;
   border-radius:12px;
   font-weight: 500;
   line-height: 46px;
   font-size: 15px;
   text-transform: uppercase;
   padding: 0 40px;
   display: inline-block;
   position: relative;
   letter-spacing: .5px;
   outline: none;
   text-decoration:none;
   overflow: hidden;
   & span{
      color: #fff;
      opacity: 0;
      position: absolute;
      height: 100%;
      right: 25px;
      top: 0;
      transition: all 0.5s;
      transform: translateX(-20px);
   }
   &:hover p{
      transform: translateX(-10px);
      transition: all 0.5s;
   }
   &:hover span{
      opacity: 1;
      transform: translateX(0);
   }
}