@import '../c0-Common/saas/variables.module';


.logoSmile {
   position: fixed;
   //top: 30px;
   //left: 30px;
   right: 23px;
   bottom: 5px;
}

svg {
   width: 50px;
   height: 50px;
   max-width: 250px;
   transform: rotateZ(0deg);
}

.smile, .eyes {
   stroke: $rootColor;
   stroke-width: 1.3;
   stroke-linecap: round;
   fill: transparent;
}

svg:hover {
   animation: rotate 1.2s cubic-bezier(0.65, 0.000, 0.75, 1.000);
}

svg:hover .smile {
   animation: smile 1s cubic-bezier(0.2, 0.000, 0.8, 1.000);
}

svg:hover .eyes {
   animation: eyes 1s cubic-bezier(.7, 0.000, 0.4, 1.000);
}

@keyframes rotate {
   to {
      transform: rotateZ(720deg);
   }
}

@keyframes smile {
   50% {
      stroke-dasharray: 20, 5.1327;
   }
}

@keyframes eyes {
   70% {
      stroke-dasharray: 1, 0, .5, 23.6327;
   }
}

@media (max-width: 415px) {
   .logoSmile {
      display: none;
   }
}