.projects {
   min-height: 100vh;
   position: relative;
   overflow: hidden;

   h2 {
      text-align: center;
   }

   &_inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }
}