.skillCard {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-wrap: wrap;

   &_item {
      width: 300px;
      min-height: 320px;
      border: 1px solid #fff;
      padding: 20px 0 20px 0;
      margin: 30px 10px 0 10px;

      &_logo {
         img {
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 100px;
         }
      }

      &_title{
         text-align: center;
         font-size: 18px;
         font-weight: bold;
      }

      &_descr {
         text-align: center;
         font-size: 14px;
      }
   }
}
@media (max-width: 440px ) {
   .skillCard_item{
      margin: 10px 0;
      padding: 20px 10px;
   }
}