@import '../saas/variables.module';

.nav {
   position: fixed;
   width: 70px;
   height: 350px;
   right: 60px;
   top: 0;
   z-index: 103;

   ul {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      li {
         position: relative;
         list-style: none;
         width: 60px;
         height: 60px;
         background-color: $rootColor;
         color: white;
         border-radius: 50%;
         margin: 15px 0;

         &:hover {
            background-color: white;
            border: 2px solid $rootColor;
            color: $rootColor;
         }

         a {
            position: relative;
            @include flexCenter();
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $rootColor;
            font-weight: 500;
         }
      }
   }

   &_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   &_text {
      text-transform: uppercase;
      position: absolute;
      right: 20px;
      font-size: 18px;
      font-weight: 400;
      min-width: 110px;
      padding: 0 10px;
      visibility: hidden;
      opacity: 0;
      transition: all .5s;
      border-right: none;
      border-top: none;
   }
}

.nav ul li:hover a .nav_text {
   transform: translate(-35%);
   visibility: visible;
   opacity: 1;
}


@media (max-width: 450px) {
   .nav {
      width: 100vw;
      height: 65px;
      right: 0;

      ul {
         @include flexCenter();
         justify-content: space-evenly;
         margin: 0;
         padding: 0;

         li {
            width: 45px;
            height: 45px;
            margin: 5px 0;
         }
      }

      &_text {
         top: 45px;
         right: -38px;
      }
   }
   .nav ul li:hover a .nav_text {
      transform: translateX(0);
   }
}